* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #130C0C;
  flex-direction: column;
}
.hero .container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #FFFFFF;
  background: #2A2424;
  border-radius: 5px;
}
.hero .container .randomNum {
  background: #202020;
  padding: 20px;
}
.hero .container .randomNum p span {
  color: #FF3131;
  font-weight: bolder;
}
.hero .numContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.hero .numContainer div {
  width: 100%;
  max-width: 42%;
}
.hero .numContainer div input {
  padding: 8px;
  border: none;
  outline: none;
  width: 100%;
  background: #CFCECE;
  color: #FF3131;
  font-weight: bolder;
}
.hero .container button {
  border: none;
  outline: none;
  background: #202020;
  color: #fff;
  padding: 14px;
  width: 100%;
  cursor: pointer;
}

h1 {
  color: #FFFFFF;
  margin-bottom: 3rem;
}